.bridal-image-container {
    position: relative;
    aspect-ratio: 2 / 3;
    background-color: white !important;
    background: transparent;
    z-index: 1;
    border-radius: 15px;
}

.bridal-image-container {
    z-index: 16;
}

.bridal-img{
    border-radius: 10px;
}
.overlay-buttons {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: 7;
    transition: opacity 0.3s ease;
}


.shop-now-btn {
    width: 90%;
    margin: 0 auto;
    display: block;
    text-transform: uppercase;
    background: rgba(225, 225, 225, 1);
    color: #000;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.shop-now-btn:hover {
    background-color: #eee9e0;
    color: #000000;
}
