.menu-container {
  flex-wrap: nowrap;
  white-space: nowrap;
}

.menu-button {
  color: rgb(0, 0, 0);
  background: transparent;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.menu-button:hover {
  color: #000000;
  background: rgb(255, 255, 255);
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 35px;
  right: 0;
  background: #FFFFFF;
  padding: 10px;
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  width: auto; /* Set width to auto */
  min-width: 200px; 
  max-width: 800px;
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1), 5px 0 10px rgba(0, 0, 0, 0.1);
}

.menu-item:hover .dropdown-content {
  display: grid;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.dropdown-content img {
  width: 150px;
  height: auto; 
  object-fit: cover;
  border-radius: 20px;
}

.list-title {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 5px 0;
}

ul {
  list-style-type: none;
}

.list-item {
  font-size: 0.875rem;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  margin: 1px 0;

}

.list-item:hover {
  text-decoration: underline;
  color: #2f2e2e;
} 

.no-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.no-dropdown img {
  width: 100px;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}