
.image-container {
  position: relative;
  aspect-ratio: 2 / 3;
  background: #f8f8f8;
  z-index: 1;
}
.bridal-image-container{
z-index: 16;
}
.wishlist-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.overlay-buttons {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: 7  ;
  transition: opacity 0.3s ease;
}

.new-arrival-card:hover .overlay-buttons {
  opacity: 1;
  /* Make visible on hover */
}

.add-to-cart-btn {
  width: 90%;
  margin: 0 auto;
  display: block;
  text-transform: uppercase;
  background: rgba(225, 225, 225,1);
  color: #000;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.add-to-cart-btn:hover {
  background-color: #eee9e0;
  color: #000000;
}

.wishlist-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  /* Initially hidden */
  transition: opacity 0.3s ease;
}

.new-arrival-card:hover .wishlist-btn {
  opacity: 1 !important;
  /* Make visible on hover */
}

.wishlist-btn button {
  background: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.icon {
  font-size: 22px;
  color: #000;
}

/* wishlist-page-btn ++++++++++++++++++++++++++++=================================== */

.new-arrival-card:hover .wishlist-page-btn {
  opacity: 1 !important;
  /* Make visible on hover */
}

.wishlist-page-btn button {
  background: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.wishlist-page-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 1;
  transition: opacity 0.3s ease;
  z-index: 2;
}
