.ShopByCategorySlick .custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

.ShopByCategorySlick .next-arrow {
  right: -15px;
}

.ShopByCategorySlick .prev-arrow {
  left: -15px;
}

.ShopByCategorySlick .custom-arrow svg {
  width: 40px;
  height: 40px;
  fill: #333;
  transition: transform 0.3s ease, fill 0.3s ease;
}

.ShopByCategorySlick .custom-arrow:hover svg {
  transform: scale(1.1);
  fill: #B51B3B;
}

.ctgBanner {
  width: 100%;
  height: 350px;
  position: relative;
  font-family: 'Kaushan Script';
  overflow: hidden;
  border-radius: 22px;
}

.ctgBanner img {
  width: 100%;
  height: 100%;
  object-fit: fill; /* Ensures the image fills the card without distortion */
  box-shadow: inset 0px 0px 50px black;
  border-radius: 22px;
}

.ctgBanner .inCtgBanner {
  width: 100%;
  position: absolute;
  bottom: 10%;
  text-align: center; /* Centers text horizontally */
}

.ctgBanner .inCtgBanner h4 {
  color: #fff; /* Text color */
}
