.ShopByCategorySlick .custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

.ShopByCategorySlick .next-arrow {
  right: -15px;
}

.ShopByCategorySlick .prev-arrow {
  left: -15px;
}

.ShopByCategorySlick .custom-arrow svg {
  width: 40px;
  height: 40px;
  fill: #333;
  transition: transform 0.3s ease, fill 0.3s ease;
}

.ShopByCategorySlick .custom-arrow:hover svg {
  transform: scale(1.1);
  fill: #B51B3B;
}

.ctgBanner {
  width: 100%;
  position: relative;
  font-family: 'Kaushan Script';
  overflow: hidden;
}

.ctgBanner .boxShade {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.ctgBanner img {
  width: 100%;
  box-shadow: inset 0px 0px 50px black;
}

.ctgBanner .inCtgBanner {
  width: 100%;
  position: absolute;
  bottom: 10%;
}

.ctgBanner .inCtgBanner a {
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
}

.ctgBanner .inCtgBanner a:hover {
  text-decoration: underline;
}