* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Common style */
.web-bg-color {
  background-color: #F3F3F3;
}

.text-size{
font-size: 0.9rem;
}


/* banner */
.banner {
  background-image: url("./assets/images/Banner/Banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

/* festival animation */
.transition-transform {
  transition-duration: .15s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}


/* Bridal Banner */
.image-overlay-text {
  background: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black background */
  padding: 10px 20px;
  border-radius: 5px;
}

/* for web */
.custom-placeholder::placeholder {
  color: black !important;
  font-size: 13px !important;
}

/* for web */
.Mobile-placeholder::placeholder {
  color: black !important;
  font-size: 16px !important;
}