* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
}


/* banner */
.banner {
  background-image: url(".././public/assets/images/Banner/Banner.png");
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Centers the background image */
  height: 100%; /* Ensures it takes the full height of the parent row */
  display: flex; /* Centers content vertically and horizontally */
  justify-content: center;
  align-items: center;
  color: white; /* Adjust text color for better contrast */
  text-align: center;
}

/* festival animation */
.transition-transform {
  transition-duration: .15s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}


/* Bridal Banner */
.image-overlay-text {
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  padding: 10px 20px;
  border-radius: 5px;
}
