.ctgBanner .inCtgBanner {
    width: 100%;
    position: absolute;
    bottom: 10%;
    text-align: center; /* Centers text horizontally */
  }
  
  .ctgBanner .inCtgBanner h4 {
    color: #fff; /* Text color */
  }